.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10000;
    max-width: 317px;
    min-width: 317px;
    padding: 16px 24px 0 70px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 10px 40px rgba(29, 33, 38, 0.13), 0 1px 2px rgba(29, 33, 38, 0.1);
    transition: all 1s ease;
}

.sidebar.open {
    left: 0;
    transition: all 0.5s ease;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.3;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 45px;
}

.nav a {
    display: inline-block;
    position: relative;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    text-decoration: none;
    color: #000000;
    transition: all 0.2s ease;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    border-right: 5px;
    background-color: #58ACFF;
    transition: width 0.3s ease;
}

.nav a:hover::after {
    width: 100%;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    color: #0059B2;
}

.close {
    background-color: transparent;
    border: 0;
    margin-left: calc(100% - 24px);
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    user-select: none;
}

.close:not(:last-child) {
    margin-bottom: 24px;
}

.close img {
    width: 100%;
    height: 100%;
}
